@use 'fe-variables/variables/palette';

.root {
  input {
    position: relative;
    width: 100%;
    border-radius: 4px;
    border-style: solid;
    padding: 12px;
    background-color: palette.$white;
    border: 1px solid palette.$neutral-3;

    appearance: none;

    &:focus {
      outline: none;
    }

    &:disabled {
      background: url('../../assets/searchIcon.svg') no-repeat scroll 7px 7px;
      background-size: 30px 30px;
      padding-left: 40px;
    }
  }
}

.inputLabel {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 1.375;
}

.helpfulMsg,
.inputErrorMsg {
  margin-top: 10px;
  font-size: 15px;
}

.inputErrorMsg {
  color: palette.$error;
}

.helpfulMsg {
  color: palette.$warning;
}
